{# empty Twig template #}
{% extends 'MyAppFrontofficeBundle:Default:layout.html.twig' %}

{% block cart %}

    <script src="{{ asset('bundles/myappbackoffice/js/jqueryajax.min.js') }}" type="text/javascript"></script>
    <style type="text/css">  #top-megamenu-nav {margin: 0 0 0; position: relative; }</style> 






    <nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
        <div class="container">
            <div class="yamm navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-horizontal-menu-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!-- /.navbar-header -->
                <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">TV &amp; Audio</a>
                            <ul class="dropdown-menu">
                                <li><div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Laptops &amp; Notebooks</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound </a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Computers &amp; Laptops</h2>
                                                <ul>
                                                    <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                    <li><a href="#">CPUs, Processors</a></li>
                                                    <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                    <li><a href="#">Graphics, Video Cards</a></li>
                                                    <li><a href="#">Interface, Add-On Cards</a></li>
                                                    <li><a href="#">Laptop Replacement Parts</a></li>
                                                    <li><a href="#">Memory (RAM)</a></li>
                                                    <li><a href="#">Motherboards</a></li>
                                                    <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                    <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Dekstop Parts</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound</a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- /.yamm-content --></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">RTV</a>
                            <ul class="dropdown-menu">
                                <li><div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Laptops &amp; Notebooks</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound </a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Computers &amp; Laptops</h2>
                                                <ul>
                                                    <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                    <li><a href="#">CPUs, Processors</a></li>
                                                    <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                    <li><a href="#">Graphics, Video Cards</a></li>
                                                    <li><a href="#">Interface, Add-On Cards</a></li>
                                                    <li><a href="#">Laptop Replacement Parts</a></li>
                                                    <li><a href="#">Memory (RAM)</a></li>
                                                    <li><a href="#">Motherboards</a></li>
                                                    <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                    <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Dekstop Parts</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound</a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- /.yamm-content --></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Computers</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                <li><a href="#">CPUs, Processors</a></li>
                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                <li><a href="#">Graphics, Video Cards</a></li>
                                <li><a href="#">Interface, Add-On Cards</a></li>
                                <li><a href="#">Laptop Replacement Parts</a></li>
                                <li><a href="#">Memory (RAM)</a></li>
                                <li><a href="#">Motherboards</a></li>
                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Games &amp; Consoles</a>
                            <ul class="dropdown-menu">
                                <li><div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Laptops &amp; Notebooks</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound </a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Computers &amp; Laptops</h2>
                                                <ul>
                                                    <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                    <li><a href="#">CPUs, Processors</a></li>
                                                    <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                    <li><a href="#">Graphics, Video Cards</a></li>
                                                    <li><a href="#">Interface, Add-On Cards</a></li>
                                                    <li><a href="#">Laptop Replacement Parts</a></li>
                                                    <li><a href="#">Memory (RAM)</a></li>
                                                    <li><a href="#">Motherboards</a></li>
                                                    <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                    <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Dekstop Parts</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound</a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- /.yamm-content --></li>
                            </ul>
                        </li>


                        <li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Gadgets</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3">
                                                <h2>Laptops &amp; Notebooks</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound </a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-3">
                                                <h2>Computers &amp; Laptops</h2>
                                                <ul>
                                                    <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                    <li><a href="#">CPUs, Processors</a></li>
                                                    <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                    <li><a href="#">Graphics, Video Cards</a></li>
                                                    <li><a href="#">Interface, Add-On Cards</a></li>
                                                    <li><a href="#">Laptop Replacement Parts</a></li>
                                                    <li><a href="#">Memory (RAM)</a></li>
                                                    <li><a href="#">Motherboards</a></li>
                                                    <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                    <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-3">
                                                <h2>Desktop Parts</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound</a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-3">
                                                <h2>Laptops &amp; Notebooks</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound </a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- /.yamm-content -->
                                </li>
                            </ul>
                        </li><!-- /.yamm-fw -->


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Phones &amp; Tablets</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                <li><a href="#">Power Supplies Power</a></li>
                                <li><a href="#">Power Supply TestersSound </a></li>
                                <li><a href="#">Sound Cards (Internal)</a></li>
                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                <li><a href="#">Other</a></li>
                            </ul>
                        </li>


                        <li class="dropdown hidden-md">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">GPS &amp; Car Audio</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Laptops &amp; Notebooks</a></li>
                                <li><a href="#">RTV</a></li>
                                <li><a href="#">TV &amp; Audio</a></li>
                                <li><a href="#">Gadgets</a></li>
                                <li><a href="#">Cameras</a></li>
                            </ul>
                        </li>

                        <li class="dropdown navbar-right hidden-md">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Accessories</a>
                            <ul class="dropdown-menu">
                                <li><div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Laptops &amp; Notebooks</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound </a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Computers &amp; Laptops</h2>
                                                <ul>
                                                    <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                    <li><a href="#">CPUs, Processors</a></li>
                                                    <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                    <li><a href="#">Graphics, Video Cards</a></li>
                                                    <li><a href="#">Interface, Add-On Cards</a></li>
                                                    <li><a href="#">Laptop Replacement Parts</a></li>
                                                    <li><a href="#">Memory (RAM)</a></li>
                                                    <li><a href="#">Motherboards</a></li>
                                                    <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                    <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                                </ul>
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-sm-4">
                                                <h2>Dekstop Parts</h2>
                                                <ul>
                                                    <li><a href="#">Power Supplies Power</a></li>
                                                    <li><a href="#">Power Supply Testers Sound</a></li>
                                                    <li><a href="#">Sound Cards (Internal)</a></li>
                                                    <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                    <li><a href="#">Other</a></li>
                                                </ul>
                                            </div><!-- /.col -->
                                        </div><!-- /.row -->
                                    </div><!-- /.yamm-content --></li>
                            </ul>
                        </li>
                    </ul><!-- /.navbar-nav -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.navbar -->
        </div><!-- /.container -->
    </nav>







    <div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
        <div id="breadcrumb-alt">
            <div class="container">
                <div class="breadcrumb-nav-holder minimal">
                    <ul>
                        <li class="dropdown breadcrumb-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                shop by department
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                <li><a href="#">CPUs, Processors</a></li>
                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                <li><a href="#">Graphics, Video Cards</a></li>
                                <li><a href="#">Interface, Add-On Cards</a></li>
                                <li><a href="#">Laptop Replacement Parts</a></li>
                                <li><a href="#">Memory (RAM)</a></li>
                                <li><a href="#">Motherboards</a></li>
                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                <li><a href="#">Motherboard Components</a></li>
                            </ul>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item current">
                            <a href="#">shopping cart</a>
                        </li>
                    </ul>
                </div><!-- .breadcrumb-nav-holder -->
            </div><!-- /.container -->
        </div><!-- /#breadcrumb-alt -->
        <!-- ========================================= BREADCRUMB : END ========================================= --></div>






    <section id="cart-page">
        <div class="container">

            <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-md-9 items-holder no-margin">

                {% for allproduit in allproduit %}
                    {% for key,value in panier %}
                        {% if key is defined  and key == allproduit.id %}


                            <div class="row no-margin cart-item" id="{{ allproduit.id }}">

                                <div class="col-xs-12 col-sm-2 no-margin">
                                    <a href="#" class="thumb-holder">
                                        <img class="lazy" alt="" src="http://placehold.it/73x73">
                                    </a>
                                </div>

                                <div class="col-xs-12 col-sm-5 ">
                                    <div class="title">
                                        <!--  <a href="#">white lumia 9001</a>-->
                                        <a href="{{path('my_app_frontoffice_singleproduct',{slug:allproduit.slug})}}">{{ allproduit.nomproduit }}</a>

                                    </div>
                                    <!--   <div class="brand">sony</div>-->
                                </div> 

                                <div class="col-xs-12 col-sm-3 no-margin">
                                    <div class="quantity">
                                        <div class="le-quantity">
                                            <form>
                                                <a class="minus" style="cursor:pointer"></a>
                                                <script type="text/javascript">

                                                </script>
                                                <input name="quantity" readonly="readonly" type="text" value="{{value}}">
                                                <a class="plus" style="cursor:pointer"></a>
                                                <script type="text/javascript">

                                                </script>
                                            </form>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-xs-12 col-sm-2 no-margin">
                                    <!-- <div class="price"> $2000.00  </div>-->
                                    <div class="price"> ${{ allproduit.nouveauprix }}  </div>
                                    <a class="close-btn" id="close-btn{{allproduit.id}}"></a>

                                    <script type="text/javascript">
                                        $(function () {
                                            $("#close-btn{{allproduit.id}}").click(function (e) {
                                                /**************************************************************************** ***/
                                                $.ajax({
                                                    type: 'post',
                                                    url: "{{path('my_app_frontoffice_supprimerdepanier',{id:allproduit.id} ) }}",
                                                    data: $(this).serialize(),
                                                    datatype: "json",
                                                    cache: false,
                                                    success: function (data) {
                                                        $('div#{{allproduit.id}}').hide();
                                                        $('li#basket-item{{allproduit.id}}').hide();
                                                        $('a#classdropdown-toggle').html(data);
                                                    }
                                                });
                                                //          return false;
                                                /******************************************************************************* */
                                                $.ajax({
                                                    type: 'post',
                                                    url: "{{path('my_app_frontoffice_supprimerdeshoppingcart',{id:allproduit.id} ) }}",
                                                    data: $(this).serialize(),
                                                    datatype: "json",
                                                    cache: false,
                                                    success: function (data) {
                                                        $('div#{{allproduit.id}}').hide();
                                                        $('div.body').html(data);
                                                    }
                                                });
                                                //       return false;                                                        
                                                /******************************************************************************* *****/
                                            }
                                            );
                                        });
                                    </script>


                                </div>
                            </div>


                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>
            <!-- ========================================= CONTENT : END ========================================= -->

            <!-- ========================================= SIDEBAR ========================================= -->

            <div class="col-xs-12 col-md-3 no-margin sidebar ">
                <div class="widget cart-summary">
                    <h1 class="border">shopping cart</h1>
                    <div class="body">
                        <ul class="tabled-data no-border inverse-bold">
                            <li>
                                <label>cart subtotal</label>
                                <!--  <div class="value pull-right">$8434.00</div>--->
                                <div class="value pull-right">${{carttotal}}.00</div>
                            </li>
                            <li>
                                <label>shipping</label>
                                <div class="value pull-right">free shipping</div>
                            </li>
                        </ul>
                        <ul id="total-price" class="tabled-data inverse-bold no-border">
                            <li>
                                <label>order total</label>
                                <!-- <div class="value pull-right">$8434.00</div> -->
                                <div class="value pull-right">${{carttotal}}.00</div>
                            </li>
                        </ul>
                        <div class="buttons-holder">
                            <a class="le-button big" href="http://localhost/~ibrahim/themeforest/HTML/mediacenter/upload/PHP/checkout">checkout</a>
                            <a class="simple-link block" href="http://localhost/~ibrahim/themeforest/HTML/mediacenter/upload/PHP/home">continue shopping</a>
                        </div>
                    </div>
                </div><!-- /.widget -->

                <div id="cupon-widget" class="widget">
                    <h1 class="border">use coupon</h1>
                    <div class="body">
                        <form>
                            <div class="inline-input">
                                <input data-placeholder="enter coupon code" type="text" class="placeholder">
                                <button class="le-button" type="submit">Apply</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.widget -->
            </div><!-- /.sidebar -->

            <!-- ========================================= SIDEBAR : END ========================================= -->
        </div>
    </section>


    <!-- pour les ajax call FOSJSrouting Bundle -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <!-- pour les ajax call FOSJSrouting Bundle -->


{% endblock %}
