{{dump(app.session.get('user'))}} {# connected user #}

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappbackoffice/css/bootstrap.css') }}"/> 
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappbackoffice/css/font-awesome.css') }}"/> 
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappbackoffice/css/custom.css') }}"/> 
    



<div class="container">
        <div class="row text-center  ">
            <div class="col-md-12">
                <br /><br />
                <h2> Binary Admin : Get password</h2>

                <h5>( Get your password to get access )</h5>
                <br />
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>  New User ? Register Yourself </strong>  
                    </div>
                    <div class="panel-body">
                            
                     <form action="#"   method="POST">
                            <br/>
 
                     <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                            <input type="email" id="email" name="email" value="{#{ last_username }#}" required="required"  class="form-control" placeholder=" Your Mail " />

                        </div>
                            
                
                               
                        <div style="float: right;width: 200px;font-family: monospace;color: slategrey;">
                                 {% for flashMessage in app.session.flashbag.get('message') %}                  
                                        {{ flashMessage }}
                             {% endfor %}
                        </div>
                            
                           <input type="submit" value="Send Me"  class="btn btn-success " />
                           
                                  <hr />
                                      Already Registered ?  
                               <a href="{{ path('my_app_backoffice_login') }}"> Login here </a>                        
                          
                        </form>
                    </div>

                </div>
            </div>


        </div>
    </div>
 
